@import "../palette.css";

.header {
  background-color: var(--defaultPrimaryColor) !important;

  & a {
    color: var(--primaryTextColor);
    &:hover {
      color: var(--textPrimaryColor);
    }
  }
}
