@import "../palette.css";

.header {
  background-color: var(--defaultPrimaryColor) !important;

  & a {
    color: var(--primaryTextColor);
    &:hover {
      color: var(--primaryTextColor);
      opacity: .6;
    }
  }
}

.tabBarContainer {
  /*@media only screen and ()*/
  /*min-width: 1300px;*/
}

.emptyTabBarContainer {
  padding: 5px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  background-color: var(--defaultPrimaryColor) !important;
}
