@import "./components/palette.css";

:global(body) {
  margin: 0;
  font-family: var(--fontFamily);
  height: 100%;
}

:global(.flaticon) {
  font-family: Flaticon;
}

:global(a) {
  color: var(--primaryLinkColor);
  text-decoration: none;
  &:hover {
    color: color(var(--primaryLinkColor) lightness(-33%));
  }
}

:global(li) {
  list-style-type: none;
}

:global(html) {
  height: 100%;
  /*background-color: var(--textSecondaryColor);*/
  background-color: #222222;
  color: var(--primaryTextColor);
}

:global(#react) {
  height: 100%;
  overflow-x: hidden;
}
/*TODO - put these in the palette*/
:global(.textSuccess) {
  color: #537F1B;
}

:global(.textDanger) {
  color: #8B311E
}

:global(.textMuted) {
  color: #727272;
}

:global(.subText) {
  font-size: 10px !important;
  color: #c5c5c5;
  text-overflow: initial !important;
  text-transform: uppercase;
}
