@import "../palette.css";

.Header {
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.matchGraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.abilityUpgrades {
  & .ability {
    position: relative;
    display: inline-block;
    margin: 0 3px;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    & img {
      height: 34px;
      width: 34px;
    }
    & > div {
      background-color: var(--darkPrimaryColor);
      height: 34px;
      width: 34px;
      text-align: center;
      bottom: 0;
      left: 0;
      font-size: 10px;
    }
  }
  /* React-tooltip ability upgrades */
  & > div {
    pointer-events: auto !important;
    margin-left: 3px !important;
    padding: 6px 12px 2px !important;
    background-color: rgba(0, 0, 0, .9) !important;

    &:hover {
      visibility: visible !important;
      opacity: 1 !important;
    }
    &::after {
      border-color: transparent !important;
      border-width: 20px !important;
      right: 0 !important;
      top: 0 !important;
    }
  }
}

.overviewMapGraph {
  width: 100%;

  & > div {
    display: inline-block;
    vertical-align: top;
  }
  & .graph {
    margin-left: 30px;
    width: calc(100% - 312px - 50px);

    & svg[style="overflow: hidden;"] {
      margin-top: 14px;
    }
  }

  @media only screen and (max-width: 1023px) {
    & > div {
      display: block;
    }
    & .graph {
      margin-left: 0;
      width: 100%;
    }
    & .map {
      width: 312px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 370px) {
    & .map {
      width: 250px;

      & div > div:last-of-type {
        width: 250px;
        height: 250px;

        & img:first-of-type {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

.iconRadiant {
  filter: drop-shadow(0 0 5px green);
}
.iconDire {
  filter: drop-shadow(0 0 5px var(--colorDanger));
  fill: black !important;
}

.matchNumbers {
  text-align: right;
  padding-top: 5px;
  
  & span {
    font-size: var(--fontSizeSmall);
    color: var(--colorMutedLight);
    margin-left: 20px;
    white-space: pre-line;
  }
  & > div {
    display: inline;
    vertical-align: middle;

    &:first-of-type {
      & span {
        margin-left: 0;
      }
    }
    & > div {
      display: inline;
      margin: 5px;
      @media only screen and (max-width: 560px) {
        display: block;
        line-height: 2;

        & span {
          margin-left: 0;
        }
      }
    }
  }
}

.unusedItem {
  display: inline-block;
  vertical-align: middle;
}

.cosmetics {
  display: inline-block;
  margin: 5px 2px;

  & img {
    height: 42px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }
  & > div {
    font-size: var(--fontSizeCommon);

    & span > span {
      font-size: var(--fontSizeSmall);
      color: var(--colorMutedLight);
      text-transform: capitalize;
      display: block;
    }
  }
}
