@import "../palette.css";

.Header {
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.matchGraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.abilityUpgrades {
  & .ability {
    position: relative;
    display: inline-block;
    margin: 0 2px;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    & img {
      height: 34px;
      width: 34px;
    }
    & > div {
      background-color: var(--darkPrimaryColor);
      height: 34px;
      width: 34px;
      text-align: center;
      bottom: 0;
      left: 0;
      font-size: 10px;
    }
  }
  /* React-tooltip ability upgrades */
  & > div {
    pointer-events: auto !important;
    margin-left: 3px !important;
    margin-top: 1px !important;
    padding: 6px 12px 2px !important;

    &:hover {
      visibility: visible !important;
      opacity: 1 !important;
    }
    &::after {
      border-width: 20px !important;
      right: 0 !important;
      top: 0 !important;
    }
  }
  & svg {
    padding-left: 7px;
  }
}

.overviewMapGraph {
  width: 100%;

  & > div {
    display: inline-block;
    vertical-align: top;
  }
  & .graph {
    margin-left: 30px;
    width: calc(100% - 312px - 50px);

    & svg[style="overflow: hidden;"] {
      margin-top: 14px;
    }
  }
  & .map {
    margin: 0 auto;
  }
  & .centeredMap {
    width: 312px !important;
    display: block;
  }
  @media only screen and (max-width: 370px) {
    & .centeredMap {
      width: 262px !important;
      display: block;
    }
    & .map {
      width: 262px !important;
    }
  }

  @media only screen and (max-width: 1023px) {
    & > div {
      display: block;
    }
    & .graph {
      margin-left: 0;
      width: 100%;
    }
    & .map {
      width: 312px;
    }
  }
}

.iconRadiant {
  filter: drop-shadow(0 0 5px green);
}
.iconDire {
  filter: drop-shadow(0 0 5px var(--colorDanger));
  fill: black !important;
}

.matchNumbers {
  text-align: right;
  padding-top: 5px;
  
  & span {
    font-size: var(--fontSizeSmall);
    color: var(--colorMutedLight);
    margin-left: 20px;
    white-space: pre-line;
  }
  & > div {
    display: inline;
    vertical-align: middle;

    &:first-of-type {
      & span {
        margin-left: 0;
      }
    }
    & > div {
      display: inline;
      margin: 5px;
      @media only screen and (max-width: 560px) {
        display: block;
        line-height: 2;

        & span {
          margin-left: 0;
        }
      }
    }
  }
}

.unusedItem {
  display: inline-block;
  vertical-align: middle;
}

.cosmetics {
  display: inline-block;
  margin: 5px;

  & img {
    height: 42px;
  }
  & > div {
    font-size: var(--fontSizeCommon);

    & span > span {
      font-size: var(--fontSizeSmall);
      color: var(--colorMutedLight);
      text-transform: capitalize;
      display: block;
    }
  }
  & a {
    transition: var(--normalTransition);
    position: relative;

    &:hover {
      cursor: pointer;
      opacity: .8;

      & svg {
        display: block !important;
      }
    }
  }
  & svg {
    position: absolute;
    /* override material-ui */
    fill: var(--primaryLinkColor) !important;
    display: none !important;
    width: 18px !important;
    height: 18px !important;
    /* -- */
    filter: drop-shadow(0 0 3px var(--darkPrimaryColor));
    right: 2px;
    bottom: 6px;
  }
}

.thGold img {
  height: 10px;
  margin-right: 4px;
}
