@import "../palette.css";

.Header{
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.matchGraph {
  margin-top: 20px;
  margin-bottom: 20px;
}
