@import '../../palette.css';
@import '../../Player/Pages/Overview/Summary.css';

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;

  @media (max-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap-reverse;
  }

  & .Chat,
  & .Filters {
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  & .Chat {
    & .radiant,
    & .dire {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;

      &:not(:last-of-type) {
        padding-bottom: 10px;
      }

      & svg.icon {
        width: 16px;
        height: 16px;
      }

      & time {
        display: inline-block;
        width: 54px;
        text-align: center;

        & a {
          font-size: var(--fontSizeSmall);
          margin: 2px;
        }
      }

      & time,
      & time > a {
        color: var(--colorMutedLight);
      }

      & img {
        height: 20px;
      }

      & .target {
        font-size: var(--fontSizeMedium);
        margin-left: 8px;
      }

      & .author {
        font-size: var(--fontSizeMedium);
        font-weight: var(--fontWeightMedium);
        margin: 0 8px;
      }

      & article {
        & svg,
        & .chatwheel {
          vertical-align: sub;
          margin-right: 5px;
        }

        /* override material-ui */
        & svg {
          width: 18px !important;
          height: 18px !important;
          border-radius: 50%;
          background-color: var(--colorBlueMuted);

          &.play {
            &:hover {
              cursor: pointer;
              background-color: var(--colorBlue);
              color: var(--primarySurfaceColor) !important;
            }

            &:active {
              opacity: 0.6;
            }
          }

          &.playing {
            background-color: var(--colorBlue);
            color: var(--primarySurfaceColor) !important;
          }
        }

        & .chatwheel {
          height: 18px;
        }
      }

      &.spam {
        opacity: 0.5;
        color: var(--colorMuted) !important;
        filter: grayscale(100%);
        pointer-events: none;
      }
    }

    & .radiant {
      & svg.icon {
        fill: var(--colorSuccess);
      }
    }

    & .dire {
      & svg.icon {
        fill: var(--colorDanger);
      }
    }

    & .disabled {
      pointer-events: none;
    }
  }

  & .Filters {
    margin-bottom: 25px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (min-width: 768px) {
      & .heading {
        display: flex;
        flex-direction: row-reverse;

        & > svg {
          transform: rotate(180deg);
          margin-left: 6px;
          margin-right: 0;
        }
      }
    }

    & > li {
      display: flex;
      flex-direction: row-reverse;
      text-align: right;

      @media (max-width: 768px) {
        flex-direction: row;
        text-align: left;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }

      /* override material-ui */
      & > div {
        width: auto !important;

        @media (max-width: 768px) {
          & > div {
            flex-direction: row-reverse;

            & > div {
              margin-left: 0 !important;
              margin-right: 8px !important;
            }
          }
        }
      }

      & > b {
        color: var(--colorMutedLight);
        width: 40px;
      }
    }

    & .divider {
      border: 0;
      height: 1px;
      background: linear-gradient(to left, #f5f5f5, rgba(0, 0, 0, 0));
      opacity: 0.1;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;

      @media (max-width: 768px) {
        background: linear-gradient(to right, #f5f5f5, rgba(0, 0, 0, 0));
      }

      @media (max-width: 320px) {
        background: #f5f5f5;
      }
    }
  }
}
