@import "../palette.css";

.filterButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;

  @media only screen and (max-width: 900px) {
    bottom: 10px;
    right: 10px;
  }
}

.closeButton {
  composes: filterButton;

  & button {
    & svg {
      color: var(--primaryTextColor) !important;
      fill: var(--primaryTextColor) !important;
    }

    background-color: var(--defaultPrimaryColor) !important;
  }
}

.svg {
  display: inline-block;
  color: var(--textColorPrimary);
  fill: var(--textColorPrimary);
  width: 24px;
  height: 56px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  line-height: 56px;
  webkit-user-select: none;
}
