@import "../palette.css";

.filterButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;

  @media only screen and (max-width: 900px) {
    bottom: 10px;
    right: 10px;
  }
}

.closeButton {
  composes: filterButton;

  & button {
    & svg {
      color: var(--primaryTextColor) !important;
      fill: var(--primaryTextColor) !important;
    }

    background-color: var(--defaultPrimaryColor) !important;
  }
}

.container {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  & svg {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    user-select: none;
  }
}

.filterIcon {
  fill: var(--colorBlue) !important;
}

.closeIcon {
  fill: var(--colorDanger) !important;
}
