@import "../../palette.css";

.percentContainer {
  display: flex;
  flex-direction: row;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
}

.pieChart {
  width: 32px;
  height: 32px;
  transform: rotate(-90deg);
  background: var(--primaryTextColor);
  border-radius: 50%;
}

.pieInner {
  fill: var(--primaryTextColor);
  stroke: var(--defaultPrimaryColor);
  stroke-width: 32;
  stroke-dasharray: 38 100;
}
