@import "../palette.css";

.Info {
  & a {
    color: var(--colorMutedLight);
    font-size: var(--fontSizeSmall);
  }

  & svg {
    vertical-align: sub;
    margin-right: 5px;
    width: 15px !important;
    height: 15px !important;
    fill: var(--colorBlue) !important;
  }
}
