@import "../palette.css";

.inflictorWithValue {
  position: relative;
  float: left;
  margin: 1px;
  height: 29px;

  & .overlay {
    background-color: var(--darkPrimaryColor);
    font-size: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  & img {
    height: 29px;
  }

  & .tooltip {
    & > div {
      max-width: 300px;

      & .heading {
        font-size: var(--fontSizeCommon);
        text-transform: uppercase;
        color: var(--colorBlue);

        & .lore {
          font-size: var(--fontSizeSmall);
          text-transform: none;
          display: block;
          color: var(--colorMutedLight);
          margin-bottom: 5px;
        }

        & .gold {
          color: var(--colorGolden);
          position: relative;
          font-size: var(--fontSizeSmall);

          & img {
            height: 11px;
            margin: 0 5px;
          }
        }
      }

      & hr {
        border: 0;
        height: 1px;
        background: linear-gradient(to right, var(--colorMutedLight), rgba(0, 0, 0, 0));
        margin: 4px 0 3px;
      }

      & .cost {
        margin-top: 6px;

        & span {
          &:first-child {
            margin-right: 30px;
          }

          & img {
            width: 16px;
            height: 16px;
            vertical-align: sub;
            margin-right: 5px;
          }
        }
      }

      & .cmb {
        & img {
          width: 16px;
          height: 16px;
          vertical-align: sub;
          margin-right: 5px;
        }
      }
    }
  }

  &:matches([data-tip="true"]) {
    & > img {
      transition: var(--normalTransition);
    }

    &:hover {
      & > img {
        opacity: 0.7;
      }
    }
  }
}

.noBr {
  & br {
    display: none;
  }
}

:global(.attribVal) {
  color: var(--colorYelor);
  font-weight: var(--fontWeightMedium);
}

:global(.cooldownMana) {
  & div {
    display: inline-block;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-top: 5px;
    }
  }
}

.buff {
  width: 29px;
  height: 29px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px var(--defaultPrimaryColor);
}

.buffOverlay {
  position: absolute;
  bottom: 0;
  right: 2px;
  color: var(--textColorPrimary);
  font-weight: var(--fontWeightMedium);
  text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}
