@import "../palette.css";

.badge {
  display: inline-block;

  & svg {
    width: 10px !important;
    height: 10px !important;
    margin-right: 5px;
  }
}

.confirmed {
  composes: badge;

  & svg {
    fill: var(--colorGolden);
  }
}
