@import "../palette.css";

.card {
  background-color: var(--textSecondaryColor) !important;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 6px, rgba(0, 0, 0, 0.7) 0px 1px 4px !important;
}

.tableHeading {
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
