@import "../palette.css";

.container {
  min-width: 100%;
  overflow-x: scroll;
  @media only screen and (max-width: 960px) {
    margin: 0 -25px;
  }
}

.innerContainer {
  @media only screen and (max-width: 960px) {
    min-width: 1325px;
  }
}

.header {
  background-color: var(--darkPrimaryColor);
}

.headerCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  & * {
    color: #fff!important;
  }
  &:hover {
    cursor: pointer;
    & span, & div {
      color: var(--primaryTextColor)!important;
    }
  }
}

.row {
  background-color: #fff;
}

.row0 {
  composes: row;
}

.row1 {
  composes: row;
  background-color: #eee;
}
