@import "../palette.css";

.container {
  min-width: 100%;
  @media only screen and (max-width: 960px) {
    margin: 0 -25px;
    overflow-x: scroll;
  }
}

.innerContainer {
  @media only screen and (max-width: 960px) {
    min-width: 1325px;
  }
}

.header {
  background-color: var(--defaultPrimaryColor)!important;
}

.headerRow {
  border-bottom-color: var(--dividerColor)!important;
}

.headerCellNoSort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  & * {
    color: var(--primaryTextColor)!important;
  }
}

.headerCell {
  composes: headerCellNoSort;
  &:hover {
    cursor: pointer;
    & span, & div {
      color: var(--textSecondaryColor)!important;
    }
  }
}

.row {
  background-color: color(var(--textSecondaryColor) lightness(30%));
  color: var(--primaryTextColor)!important;
  border-bottom-color: var(--dividerColor)!important;
}

.row0 {
  composes: row;
}

.row1 {
  composes: row;
  background-color: color(var(--textSecondaryColor) lightness(40%));
}
