@import '../palette.css';
@import "./TablePercent.css";

:export {
  red: var(--textDangerColor);
  neutral: var(--textMutedColor);
  green: var(--textSuccessColor);
  low: var(--accentColor);
}

.container {
  position: relative;
}

.percent {
  composes: TablePercent from "./TablePercent.css";
  width: calc(300% + 36px);
  left: -10px;
}
