@import "../../palette.css";

.gme {
  text-align: center;

  & span {
    text-transform: uppercase;
    display: block;
  }

  & .gameMode {
    font-size: var(--fontSizeMedium);
  }
  & .duration {
    font-size: 28px;
  }
  & .ended {
    font-size: var(--fontSizeSmall);
    color: var(--colorMutedLight);
    margin-top: 3px;
    & > div {
      display: inline-block;
    }
  }
}

.winner {
  font-size: 28px;
  padding-top: 10px;
  filter: drop-shadow(0 0 15px var(--colorYelor));
}
.score {
  font-size: 48px;
}

.team {
  & svg {
    width: 32px;
    height: 32px;
    margin: 0 15px;
    vertical-align: sub;
  }
}

.radiant {
  composes: team;
  text-align: left;
  color: var(--colorSuccess);

  & svg {
    fill: var(--colorSuccess);
  }
  & div:first-of-type {
    float: right;
  }
}
.dire {
  composes: team;
  color: var(--colorDanger);
  text-align: right;
  
  & svg {
    fill: var(--colorDanger);
  }
  & div:first-of-type {
    float: left;
  }
}
