@import "../../palette.css";

.matchInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoItem {
  box-sizing: border-box;
  flex-basis: 33.33%;
  max-width: 33.33%;

  @media only screen and (max-width: 1023px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.team {
  composes: infoItem;
  padding: 20px 0 10px;
  font-size: 28px;
  filter: drop-shadow(0 0 20px var(--colorYelor));

  @media only screen and (max-width: 1023px) {
    text-align: center;
    margin: 10px 0;
  }

  & svg {
    width: 32px;
    height: 32px;
    margin: 0 15px;
    vertical-align: sub;

    @media only screen and (max-width: 1023px) {
      display: block;
      margin: 0 auto;
      width: 48px;
      height: 48px;
    }
  }
}

.radiant {
  composes: team;
  color: var(--colorSuccess);

  & svg {
    filter: drop-shadow(0 0 5px green);
    fill: var(--textColorPrimary) !important;
  }
}

.dire {
  composes: team;
  color: var(--colorDanger);

  & svg {
    filter: drop-shadow(0 0 5px var(--colorDanger));
    fill: black !important;
  }
}

.mainInfo {
  composes: infoItem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.gmde {
  margin: 0 20px;

  @media only screen and (max-width: 400px) {
    margin: 0 10px;
  }

  & span {
    text-transform: uppercase;
    display: block;
  }

  & .gameMode {
    font-size: var(--fontSizeMedium);
  }

  & .duration {
    font-size: 28px;

    @media only screen and (max-width: 400px) {
      font-size: 24px;
    }
  }

  & .ended {
    font-size: var(--fontSizeSmall);
    color: var(--colorMutedLight);
    margin-top: 3px;

    & > div {
      display: inline-block;
    }
  }
}

.score {
  font-size: 48px;
  text-align: center;

  @media only screen and (max-width: 400px) {
    font-size: 40px;
  }
}

.killsRadiant {
  composes: score;
  color: var(--colorSuccess);
}

.killsDire {
  composes: score;
  color: var(--colorDanger);
}

.additionalInfo {
  composes: infoItem;
  text-align: right;
  padding-top: 20px;

  @media only screen and (max-width: 1023px) {
    text-align: center;

    & span {
      margin-bottom: 5px;
    }
  }

  & ul {
    padding: 0;
    margin: 0;

    & li {
      display: inline-block;
      margin-left: 20px;

      & > span {
        display: block;
        text-transform: uppercase;
        font-size: var(--fontSizeSmall);
        color: var(--colorMutedLight);
      }
    }

    & li:first-child {
      margin-left: 0;
    }
  }
}

.matchButtons {
  display: table;
  margin: 10px auto 0;

  /* Material-ui buttons */
  & a {
    float: left;
    margin: 5px !important;
    line-height: 34px !important;
  }

  @media only screen and (max-width: 620px) {
    & a {
      min-width: 24px !important;

      & span {
        font-size: 0 !important;
        padding-left: 0 !important;
        padding-right: 12px !important;
      }
    }
  }
}

.unparsed {
  text-align: center;
  margin-top: 12px;
}
