@import '../palette.css';

.announce {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: color(color(var(--colorBlue) whiteness(-12%)) a(80%));

  & main,
  & aside {
    padding: 8px 20px;
  }

  & main {
    flex-grow: 1;

    & > div,
    & a,
    & p {
      font-size: calc(var(--fontSizeMedium) - 1);
      margin: 0;
      opacity: 0.85;
    }

    & a {
      color: var(--textColorPrimary);

      &:hover {
        text-decoration: underline;
      }
    }

    & h4 {
      font-weight: var(--fontWeightMedium);
      font-size: var(--fontSizeCommon);
      line-height: var(--fontSizeCommon);
      margin: 0 0 2px;

      & svg {
        height: 16px;
        fill: var(--textColorPrimary);
        vertical-align: sub;
      }
    }

    & ul {
      margin: 2px 0 0;
      padding-left: 20px;

      & li {
        list-style-type: circle;

        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }

  & aside {
    flex-shrink: 0;
  }
}

.home {
  position: absolute;
  width: 100%;
  z-index: 999;

  @media only screen and (max-width: 425px) {
    background-color: color(color(var(--colorBlue) whiteness(-12%)) a(90%));
  }
}
