@import "../palette.css";

.listItem {
  padding: 20px;
  font-size: var(--mediumLargeFontSize);

  color: var(--primaryTextColor);

  &:hover {
    background-color: var(--primaryTextColor);
    color: #fff;
  }
}
