@import "../palette.css";

.container {
  display: flex;
  flex-direction:column;
  min-height: 100%;
  position: relative;
  background-color: var(--textPrimaryColor);
}

.navigation {
  flex-grow: 1;
}
