@import "../palette.css";

.container {
  position: relative;
  margin: 10px 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  & a { /* Tab */
    text-align: center;
    font-weight: var(--fontWeightLight);
    font-size: 14px;
    color: var(--primaryTextColor);
    padding: 10px 12px 16px;
    border-bottom: 2px solid transparent;
    flex-grow: 1;

    &:hover {
      color: var(--colorMutedLight);
    }

    &[disabled] {
      pointer-events: none;
      color: var(--colorMuted);
    }

    @media only screen and (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  & .chosen {
    display: inline-block;
    border-color: var(--primaryLinkColor);
    color: color(var(--colorMuted) lightness(85%));
  }
}
