@import "../palette.css";

.container {
  position: relative;
  margin: 10px 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, .19);
  overflow: hidden;
}

.subContainer {
  & a { /* Tab */
    font-weight: var(--fontWeightLight);
    font-size: var(--fontSizeCommon);
    color: var(--primaryTextColor);
    padding: 10px 14px 16px;
    border-bottom: 2px solid transparent;

    &:hover {
      color: var(--colorMutedLight);
    }

    @media only screen and (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  & .chosen {
    display: inline-block;
    border-color: var(--primaryLinkColor);
    color: color(var(--colorMuted) lightness(85%));
  }

  @media only screen and (max-width: 1439px) {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
}
