.overviewMapGraph {
  width: 100%;

  & > div {
    display: inline-block;
    vertical-align: top;
  }

  & .graph {
    margin-left: 30px;
    width: calc(100% - 312px - 50px);

    & svg[style="overflow: hidden;"] {
      margin-top: 14px;
    }
  }

  & .map {
    margin: 0 auto;
  }

  & .centeredMap {
    width: 312px !important;
    display: block;
  }

  @media only screen and (max-width: 370px) {
    & .centeredMap {
      width: 262px !important;
      display: block;
    }

    & .map {
      width: 262px !important;
    }
  }

  @media only screen and (max-width: 1023px) {
    & > div {
      display: block;
    }

    & .graph {
      margin-left: 0;
      width: 100%;
    }

    & .map {
      width: 312px;
    }
  }
}
