@import "../../palette.css";

.clickable {
  composes: overrideHelpIcon from "../../palette.css";
}

.iconBattle {
  transition: var(--linearTransition);
}

.radiantWinner {
  fill: var(--colorSuccess) !important;
}

.direWinner {
  fill: var(--colorDanger) !important;
}

.timeline {
  width: 100%;
  margin: 30px 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  & time {
    margin: 0 5px;

    @media only screen and (max-width: 768px) {
      font-size: var(--fontSizeMedium);
    }
  }

  & > section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > mark {
      background: none;
      color: var(--colorMuted);
      font-size: var(--fontSizeSmall);
    }
  }
}

.battle {
  width: 100%;
  margin: 0 5px;

  @media only screen and (max-width: 768px) {
    margin: 0;
  }
}

.line {
  width: 100%;
  display: flex;
  height: 4px;

  & div,
  & section {
    height: inherit;
  }

  & section {
    background-color: var(--colorMuted);
  }
}

.events {
  position: relative;
  width: 100%;

  & header {
    margin-bottom: 3px;
    font-weight: var(--fontWeightNormal);
  }

  & .subtitle {
    margin-left: 4px;
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightLight);
    color: var(--colorMutedLight);
  }

  & mark {
    position: absolute;
    background: none;
    width: 0;
    height: 0;

    & time {
      color: var(--colorMutedLight);
      font-size: var(--fontSizeSmall);
      text-align: center;
      position: absolute;
      width: 32px;
      left: -16px;
      margin: 0;
    }

    & svg {
      fill: var(--colorMutedLight);
      width: 18px;
      position: absolute;
      left: -9px;

      @media only screen and (max-width: 768px) {
        width: 16px;
        left: -8px;
      }
    }

    & div[data-id="tooltip"] {
      /* Override react-tooltip */
      margin-top: 0 !important;
      padding: 2px 6px !important;
      margin-left: 5px !important;
      font-weight: var(--fontWeightLight) !important;
      white-space: nowrap;

      & img {
        height: 24px;
        margin-right: 4px;
      }

      & span {
        margin: 0 4px;

        & img {
          height: 8px;
        }
      }

      & section {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  & .radiant,
  & .dire {
    border-style: solid;
    margin-left: -6px;
  }

  & .radiant {
    border-width: 0 6px 5px;
    border-color: transparent transparent var(--colorSuccess) transparent;
    bottom: 4px;

    & time {
      top: 11px;
    }

    & svg {
      bottom: 5px;
    }
  }

  & .dire {
    top: 0;
    border-width: 5px 6px 0 6px;
    border-color: var(--colorDanger) transparent transparent transparent;

    & time {
      top: -28px;
    }

    & svg {
      top: 5px;
    }
  }

  & .teamfight {
    bottom: 0;
    height: 4px;

    & svg {
      width: 12px;
      top: -5px;
      left: calc(50% - 5px);
      filter: drop-shadow(1px 0 3px var(--darkPrimaryColor));

      @media only screen and (max-width: 768px) {
        width: 10px;
        top: -3px;
        left: calc(50% - 3px);
      }
    }
  }

  & .battleHorn {
    width: 2px;
    height: 4px;
    bottom: 0;
    background-color: var(--textColorPrimary);
  }
}

.goldChange {
  &::after {
    content: '';
    border-style: solid;
    display: inline-block;
  }
}

.goldGot {
  composes: goldChange;

  &::after {
    border-width: 0 4px 7px 4px;
    border-color: transparent transparent var(--colorSuccess) transparent;
  }
}

.goldLost {
  composes: goldChange;

  &::after {
    border-width: 7px 4px 0 4px;
    border-color: var(--colorDanger) transparent transparent transparent;
  }
}

.matchNumbers {
  text-align: center;
  margin: 0 5px;

  & > div {
    display: inline;

    & span {
      font-size: var(--fontSizeSmall);
      color: var(--colorMutedLight);
      white-space: pre-line;

      &:first-child {
        margin-left: 20px;
      }
    }

    @media only screen and (max-width: 768px) {
      font-size: var(--fontSizeMedium);
    }

    @media only screen and (max-width: 560px) {
      display: block;
      line-height: 2;

      & span {
        margin-left: 0;
      }
    }
  }
}

.selectedTeamfight {
  fill: var(--colorGolden) !important;
  transform: scale(1.66, 1.66);
}
