@import "../../palette.css";

.timeline {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  & time {
    margin: 0 15px;
  }
}

.battle {
  width: 100%;
}

.line {
  width: 100%;
  display: flex;
  height: 4px;

  & div, & section {
    height: inherit;
  }
  & section {
    background-color: rgba(255, 255, 255, .19);
  }
}

.events {
  position: relative;
  width: 100%;

  & mark {
    position: absolute;
    width: 4px;
    height: 8px;
    box-shadow: 0 0 3px var(--darkPrimaryColor);
    
    /*&::after {
      content: attr(title);
      color: var(--colorMutedLight);
      font-size: 10px;
      position: absolute;
      left: 6px;
    }*/
    & svg {
      fill: var(--colorMutedLight);
      width: 18px;
      height: 18px;
      position: absolute;
      top: 12px;
      left: -7px;
    }
  }

  & .radiant {
    background-color: var(--colorSuccess);
    bottom: 0;

    /*&::after {
      bottom: 0;
    }*/
    & svg {
      top: -22px;
    }
  }
  & .dire {
    background-color: var(--colorDanger);
    bottom: -4px;
  }
  & .teamfight {
    box-shadow: none;
    bottom: 0;
    background: none;

    & svg {
      top: -4px;
      left: -7px;
      filter: drop-shadow(0 0 3px var(--defaultPrimaryColor));
    }

    /*&::after {
      top: 4px;
      left: 0;
    }*/
  }
  & .battleHorn {
    width: 2px;
    height: 4px;
    bottom: 0;
    background-color: var(--colorMutedLight);
  }
}
