@import "../palette.css";

.container {
  transition: var(--normalTransition);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawerOpen {
  left: 256px;
}

.drawerClosed {
  left: 0;
}

.body {
  padding: 50px;
  flex-grow: 1;

  @media only screen and (max-width: 960px) {
    padding: 50px 25px;
  }

  @media only screen and (min-width: 1540px) {
    width: 1440px;
    margin: auto;
  }
}

.AppLogo {
  font-weight: var(--fontWeightMedium);
  color: var(--textColorPrimary);
  text-transform: uppercase;

  &:hover {
    color: var(--textColorPrimary);
    opacity: 0.6;
  }
}

.HomeBackground {
  background-image: url("/assets/images/home-background.png");
  background-position: center top;
  background-repeat: no-repeat;
}
