.formGroup {
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formContainer {
  overflow: hidden;
  transition: max-height 1s;
}

.hideForm {
  composes: formContainer;
  max-height: 0;
}

.showForm {
  composes: formContainer;
  max-height: 1000px;
}

.buttonContainer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
