@import "../palette.css";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.message {
  font-weight: var(--fontWeightLight);
  text-align: center;
  font-size: 32px;
  width: 420px;
  margin-top: 20px;
}

.FourOhFour {
  background-color: var(--textColorPrimary);
  color: var(--textColorSecondary);
  text-transform: uppercase;
  padding: 6px 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 30px auto 0;
  opacity: 0.6;
}
