@import "../../palette.css";

.teamfightContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -5px;
}

.tableContainer {
  flex-grow: 1;
  overflow-x: hidden;
  margin: 0 5px;
}

.map {
  position: relative;
  max-width: 400px;
  max-height: 400px;
  background: url("/assets/images/map.png");
  background-size: contain;
  margin: 0 5px 10px 5px;
}

.teamfightIcon {
  position: absolute;
  /*Have to override the react-tooltip '?' cursor*/
  cursor: pointer !important;
  margin: 0 !important;
}

.goldChange {
  color: var(--colorSuccess);
}

.winner {
  filter: drop-shadow(0 0 20px #000);
  padding: 0;
}

.radiant {
  composes: radiant from "../MatchHeader/MatchHeader.css";
  composes: winner;
}
.dire {
  composes: dire from "../MatchHeader/MatchHeader.css";
  composes: winner;
}

.selected {
  & svg {
    fill: var(--colorGolden) !important;
  }
}
