@import "../../palette.css";

.container {
  display: flex;
  flex-direction: column;
  margin: 0 -5px;
}

.timelineContainer {
  margin-bottom: 75px;
}

.mapAndInfoContainer {
  margin: 0 5px 10px 5px;
}

.headerGold {
  margin: 0 25px;
}

.header {
  margin: 10px 0 66px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSubInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  & svg {
    margin: 0;
  }
}

.teamfightContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tableContainer {
  flex-grow: 1;
  overflow-x: hidden;
  margin: -56px 5px 0 5px;
}

.map {
  position: relative;
  max-width: 400px;
  max-height: 400px;
  background-size: contain;
}

.mapIcon {
  position: absolute;
  margin: 0 !important;
}

.teamfightIcon {
  composes: overrideHelpIcon from "../../palette.css";
  composes: mapIcon;
  cursor: pointer;
}

.tombstone {
  composes: mapIcon;
  fill: var(--colorGolden);
  opacity: 0.75;
}

.bothTombstone {
  composes: tombstone;
}

.radiantTombstone {
  composes: tombstone;
  fill: var(--colorSuccess);
}

.direTombstone {
  composes: tombstone;
  fill: var(--colorDanger);
}

.tombstoneTooltip {
  border-width: 2px !important;
}

.radiantTombstoneTooltip {
  composes: tombstoneTooltip;
  border-color: var(--colorSuccess) !important;
}

.direTombstoneTooltip {
  composes: tombstoneTooltip;
  border-color: var(--colorDanger) !important;
}

.bothTombstoneTooltip {
  composes: tombstoneTooltip;
  border-color: var(--colorGolden) !important;
}

.teamfightTooltipContainer {
  composes: tooltipContainer;
  flex-direction: column;
}

.winner {
  filter: drop-shadow(0 0 20px #000);
  padding: 0;
}

.goldChange {
  display: flex;
  align-items: center;

  & img {
    margin-left: 5px;
    filter: drop-shadow(0 0 5px var(--colorGolden));
  }
}

.goldGot {
  composes: goldGot from "../Overview/Timeline.css";
}

.goldLost {
  composes: goldLost from "../Overview/Timeline.css";
}

.radiantSelected {
  & .header {
    color: var(--colorSuccess);
  }
}

.direSelected {
  & .header {
    color: var(--colorDanger);
  }
}

.radiant {
  composes: radiant from "../MatchHeader/MatchHeader.css";
  composes: winner;

  & .goldChange {
    color: var(--colorSuccess);
  }

  margin: 0;
}

.dire {
  composes: dire from "../MatchHeader/MatchHeader.css";
  composes: winner;

  & .goldChange {
    color: var(--colorDanger);
  }

  margin: 0;
}

.teamfightIconSvg {
  & svg {
    transition: var(--linearTransition);
  }
}

.hovered {
  composes: teamfightIconSvg;

  & svg {
    fill: var(--colorBlue) !important;
  }
}

.selected {
  composes: teamfightIconSvg;

  & svg {
    fill: var(--colorGolden) !important;
  }
}
