:root {
  --darkPrimaryColor: #1976D2;
  --defaultPrimaryColor: #2196F3;
  --lightPrimaryColor: color(var(--defaultPrimaryColor) lightness(60%));
  --textSecondaryColor: #212020;
  --textPrimaryColor: #FFFFFF;
  --primaryTextColor: #FFFFFF;
  --primaryLinkColor: #2196F3;

  --accentColor: #FFAB40;
  --lightAccentColor: color(var(--accentColor) lightness(60%));

  --neutralColor: #3B8386;

  --dividerColor: color(var(--textSecondaryColor) lightness(20%));

  --normalFontSize: 12px;
  --mediumLargeFontSize: 16px;
  --fontFamily: 'Roboto', sans-serif;

  --navDrawerWidth: 256px;
  --normalTransition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --linearTransition: all 450ms linear 0ms;
}

.textSuccess {
  color: #537F1B;
}

.textDanger {
  color: #8B311E
}

.textMuted {
  color: #727272;
}

.subText {
  font-size: 10px !important;
  color: #c5c5c5;
  text-overflow: initial !important;
  text-transform: uppercase;
}

.tab {
  font-weight: 600 !important;
  font-size: 12px !important;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-transform: uppercase;
}

.tabContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cheese {
  font-family: Flaticon;
  font-size: 40px;
  text-shadow: 0 0 10px #ff0;
  margin: 0 10px;

  &::before {
    content: "\E000";
  }

  &Inline {
    font-size: 16px !important;
    margin: 5px 5px 5px 0;
  }
}
