@import "../../palette.css";

:export { progressColor: var(--accentColor) }

.percentContainer {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
