@import "../palette.css";

.tableHeading {
  margin-top: 15px;
  margin-bottom: 15px;

  & svg {
    vertical-align: top;
    height: 26px !important;
    width: 26px !important;
    margin-right: 6px;
    opacity: 0.8;
    fill: var(--textColorPrimary);
  }

  & .title {
    font-size: 20px;
  }

  & .subtitle {
    margin-left: 5px;
    font-size: var(--fontSizeMedium);
    color: var(--colorMutedLight);
  }
}
