.countTable {
  width: 50%;
  box-sizing: border-box;
  @media (max-width: 960px) {
    width: 100%;
  }
}

.countTableLeft {
  composes: countTable;
  @media (min-width: 961px) {
    padding-right: 10px;
  }
}

.countTableRight {
  composes: countTable;
  @media (min-width: 961px) {
    padding-left: 10px;
  }
}

.countsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vw;
}
