.countTable {
  width: 50%;
  box-sizing: border-box;
  padding: 15px;
  @media (max-width: 960px) {
    width: 100%;
  }
}

.countsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  margin: 0 -15px;
}
