@import "../../palette.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerName {
  color: rgba(245, 245, 245, 0.870588);
  font-size: 28px;
  text-align: center;
}

.titleNameButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media only screen and (max-width: 660px) {
    flex-direction: column;
    align-items: center;
  }
}

.stats {
  @media only screen and (max-width: 660px) {
    align-self: flex-end;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overviewAvatar {
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);

  @media only screen and (max-width: 660px) {
    margin-left: 0 !important;
  }
}

.icon {
  fill: var(--colorMutedLight) !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.topContainer {
  composes: row;

  @media only screen and (max-width: 660px) {
    flex-direction: column;
    align-items: center;
  }
}

.topButtons {
  margin-left: auto;
}

.playerInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerButtonsContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.playerButtonsContainerSmall {
  composes: playerButtonsContainer;
  justify-content: center;
}

.registered {
  width: 18px;
  height: 18px;
  position: relative;

  &[data-hint-position="top"] {
    &::before {
      top: -7px;
      margin-left: 3px;
    }

    &::after {
      margin-bottom: 7px;
      margin-left: -7px;
    }
  }
}
