@import "../../palette.css";

.iconButton {
  composes: iconButton;
  padding-bottom: 0;
  @media only screen and (max-width: 900px) {
    & svg {
      margin: 0 12px 0 0;
    }
  }
  @media only screen and (max-width: 660px) {
    & svg {
      margin: 0 5px;
    }
    & svg:first-child {
      margin: 0 5px 0 10px;
    }
    & svg:last-child {
      margin: 0 10px 0 5px;
    }
  }
}

.playerBadges {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
  @media only screen and (max-width: 660px) {
    margin-left: 0;
    margin-top: 6px;
  }

  & .iconButton {
    display: inline-block;

    & .IconTrophy {
      fill: var(--colorGolden) !important;
    }
    & .iconEye {
      height: 22px;
      margin-top: 4px;
    }
    & .iconSteam:hover {
      cursor: pointer;
    }
  }
}

.icon {
  composes: icon from "./PlayerHeader.css"
}

.cheese {
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 0, .6));
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, .6));
  height: 18
}
