
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.compactContainer {
  composes: container;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.playerStats {
  display: inline-block;
  padding: 0 !important;
  margin-right: 25px;
  margin-top: 15px;

  & span:last-child {
    font-size: 24px !important;
    color: rgba(255, 255, 255, 0.87) !important;
    line-height: 36px !important;
  }

  & span:first-child {
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.54) !important;
    line-height: 1 !important;
    text-transform: uppercase;
  }
}

.compactRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  & .playerStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;

    &:first-child {
      margin-left: 10px;
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
      margin-right: 10px;
    }

    /* Override material-ui style */
    & > span,
    & > span > div {
      text-align: center;
    }
  }
}

.textSuccess {
  composes: textSuccess from "../../palette.css";
}

.textDanger {
  composes: textDanger from "../../palette.css";
}

.icon {
  composes: icon from "./PlayerHeader.css";
}

.estimateHelp {
  display: inline-block;
  position: relative;

  & svg {
    width: 16px !important;
    height: 16px !important;
    margin-left: 5px;
    position: absolute;
    margin-top: -13px;
  }

  &[data-hint-position="top"] {
    &::after {
      margin-bottom: 19px;
      margin-left: -2px;
    }

    &::before {
      top: -19px;
      margin-left: 7px;
    }
  }
}

.estimatedMMR {
  position: relative;

  &[data-hint] {
    &::after {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
}
