@import "../../palette.css";

.iconButton {
  composes: iconButton;
  padding-bottom: 0;
  cursor: default;

  @media only screen and (max-width: 900px) {
    & svg {
      margin: 0 12px 0 0;
    }
  }

  @media only screen and (max-width: 660px) {
    & svg {
      margin: 0 5px;
    }

    & svg:first-child {
      margin: 0 5px 0 10px;
    }

    & svg:last-child {
      margin: 0 10px 0 5px;
    }
  }
}

.playerBadges {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;

  @media only screen and (max-width: 660px) {
    margin-left: 0;
    margin-top: 6px;
  }

  & .iconButton {
    position: relative;

    & .IconTrophy {
      fill: var(--colorGolden) !important;
    }

    & .iconSteam {
      cursor: default;

      & a:hover {
        cursor: pointer;
      }
    }

    &[data-hint-position="top"] {
      &::before {
        margin-left: 8px;
      }

      &::after {
        margin-left: -30px;
      }
    }
  }

  & .iconEye {
    & svg {
      height: 22px;
      margin-top: 4px;
    }

    &[data-hint-position="top"] {
      &::before {
        margin-left: 11px;
        top: -1px;
      }

      &::after {
        margin-left: -32px;
        margin-bottom: 1px;
      }
    }
  }

  & .iconEyeTracked {
    fill: var(--colorSuccess);
  }
}

.icon {
  composes: icon from "./PlayerHeader.css";
}

.cheese {
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.6));
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.6));
  height: 18;
}
