.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media only screen and (max-width: 660px) {
    justify-content: center;
  }
}

.compact {
  justify-content: space-between;
}
