@import "../../palette.css";

.image {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: cover;
}

.appBadge {
  composes: image;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 0 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subContainer {
  width: 100%;
  /*Override material ui styles*/
  & > div {
    display: flex !important;
    flex-direction: row;
    flex-grow: 1;
    /*Override material ui styles*/
    & > div:nth-child(2) {
      flex-grow: 1;
      padding-right: 0 !important;
      margin-left: auto;
    }
  }
}

.titleNameButtons {
  display: flex;
  flex-direction: row;
  /*Override material ui styles*/
  & > div:nth-child(2) {
    margin-left: auto;
    padding: 0 !important;
  }
}

.oreviewAvatar {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
}

.oreviewTTIcon {
  display: block;
  margin-top: -3px !important;
  cursor: default;
  width: 16px !important;
  height: 16px !important;
}

.icon {
  opacity: .6;

  &:hover {
    opacity: .9;
  }
}

.mmrEstimateIcon {
  width: 16px !important;
  height: 16px !important;
  margin-left: 4px;
  position: absolute;
  margin-top: -14px;
}

.playerButtonsContainer {
  margin-left: auto;
  & > div {
    padding-right: 0 !important;
  }
}

.cheese {
  fill: var(--primaryTextColor) !important;
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 0, .6));
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, .6));
}

.playerStats {
  display: inline-block;
  padding: 0 !important;
  margin-right: 25px;
  margin-top: 15px;
}
.playerStats span:last-child {
  font-size: 24px !important;
  color: rgba(255, 255, 255, 0.87) !important;
  line-height: 36px !important;
}
.playerStats span:first-child {
  font-size: 14px !important;
  color: rgba(255, 255, 255, 0.54) !important;
  line-height: 1 !important;
  text-transform: uppercase;
}
