.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 14px;

  @media only screen and (max-width: 660px) {
    justify-content: center;
  }
}

.compact {
  justify-content: space-between;
}

.refreshButton {
  position: relative;

  /* Override material-ui */
  & button {
    min-width: 50px !important;
  }

  &[data-hint-position="top"] {
    &::before {
      top: -6px;
      margin-left: 10px;
    }

    &::after {
      margin-bottom: 6px;
      margin-left: -50px;
    }
  }
}
