@import "../../palette.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerName {
  color: rgba(245, 245, 245, 0.870588);
  font-size: 28px;
  text-align: center;
}

.titleNameButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @media only screen and (max-width: 660px) {
    flex-direction: column;
    align-items: center;
  }
}

.stats {
  @media only screen and (max-width: 900px) {
    align-self: flex-end;
  }
}

.overviewAvatar {
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
  @media only screen and (max-width: 660px) {
    margin-left: 0 !important;
  }
}

.icon {
  opacity: .6;

  &:hover {
    opacity: .9;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.topContainer {
  composes: row;
  @media only screen and (max-width: 660px) {
    flex-direction: column;
    align-items: center;
  }
}

.topButtons {
  margin-left: auto;
}

.playerInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerButtonsContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.playerButtonsContainerSmall {
  composes: playerButtonsContainer;
  justify-content: center;
}

.cheese {
  fill: var(--primaryTextColor) !important;
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 0, .6));
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, .6));
}
