@import "../../palette.css";

.buildingMap {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 6px solid rgba(255, 255, 255, .1);

  & .buildingMapImage {
    width: 300px;
    height: 300px;
    filter: grayscale(40%) brightness(180%) contrast(110%);
  }
  & > span {
    position: absolute;

    &:hover {
      z-index: 99;
    }
    
    & img {
      transition: var(--normalTransition);

      &:hover {
        filter: drop-shadow(0 0 5px var(--textColorPrimary));
      }
    }
  }
}


.destroyedBy {
  & .player img {
    height: 14px;
    vertical-align: sub;
    margin-right: 4px;
  }
}

.buildingHealth {
  height: 10px;
  min-width: 150px;
  margin: 4px 0;
  display: flex;

  & > div {
    height: 100%;
    float: left;
  }
}

.damage {
  & img {
    height: 14px;
    vertical-align: sub;
    margin-right: 4px;
  }
}

.destroyedBy, .damage {
  & span {
    margin: 0 5px;
  }
}
