@import "../../palette.css";

.buildingMap {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 6px solid rgba(255, 255, 255, .1);

  & .buildingMapImage {
    width: 300px;
    height: 300px;
    filter: grayscale(40%) brightness(180%) contrast(110%);
  }
  & > span {
    position: absolute;

    &:hover {
      z-index: 99;
    }
    
    & img {
      transition: var(--normalTransition);

      &:hover {
        filter: drop-shadow(0 0 8px var(--textColorPrimary));
      }
    }
  }
}


.buildingHealth {
  height: 10px;
  min-width: 150px;
  margin: 4px 0;
  display: flex;

  & > div {
    height: 100%;
    float: left;
  }
}

.damage {
  & > div > img {
    width: 24px;
    height: 14px;
    vertical-align: sub;
  }
  & .damageValue {
    display: inline-block;
    width: 36px;
    text-align: center;
  }
  & .playerName {
    margin-right: 5px;
  }
  & .lasthit {
    font-size: var(--fontSizeSmall);
    color: var(--colorGolden);
    
    & > img {
      height: 10px;
      margin-right: 3px;
    }
  }
  & .creeps {
    & .lasthit {
      color: var(--colorMutedLight);
    }
    & img {
      width: 24px;
      height: 14px;
      display: inline-block;
    }
  }
  & .regenerated {
    color: var(--colorMutedLight);
    font-size: var(--fontSizeSmall);
  }
}
