@import "../components/palette.css";

:global(body) {
  margin: 0;
  font-family: var(--fontFamily);
  height: 100%;
}

:global(.flaticon) {
  font-family: Flaticon;
}

:global(a) {
  color: var(--primaryLinkColor);
  text-decoration: none;
  transition: var(--normalTransition);
  &:hover {
    color: color(var(--primaryLinkColor) lightness(-33%));
  }
}

:global(li) {
  list-style-type: none;
}

:global(html) {
  height: 100%;
  /*background-color: var(--textSecondaryColor);*/
  background-color: #192023;
  background-image: -webkit-linear-gradient(315deg, #2e2d45, #1c2127);
  background-image: linear-gradient(135deg, #2e2d45, #1c2127);
  color: var(--primaryTextColor);
}

:global(#react) {
  height: 100%;
  overflow-x: hidden;
}

div[data-tip] {
  cursor: help;
}