.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.logout {
  margin-left: 15px;
}
