@import "../palette.css";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.tab {
  font-weight: 600 !important;
  font-size: 12px !important;
  color: var(--primaryTextColor) !important;
}

.logout {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > span {

    color: var(--primaryTextColor)!important;
    &:hover {
      color: var(--textSecondaryColor)!important;
    }
  }
}
