@import "../palette.css";

.HeadContainer {
  width: 600px;
  height: 380px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;

  @media only screen and (max-width: 768px) {
    width: auto;
  }
}

.HeadContainer .headline {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: var(--fontWeightMedium);
  line-height: 1.2;
  text-shadow: #000 0 0 3px;

  @media only screen and (max-width: 425px) {
    font-size: 60px;
  }

  @media only screen and (max-width: 375px) {
    font-size: 42px;
  }
}

.HeadContainer .description {
  font-size: 32px;
  font-weight: var(--fontWeightLight);
  margin-bottom: 20px;
  text-shadow: #000 0 0 3px;

  @media only screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.Buttons {
  margin-bottom: 30px;

  & .bottomButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  & a {
    background-color: color(var(--defaultPrimaryColor) 0.7) !important;
    border: 2px solid var(--textColorPrimary) !important;
    padding: 3px 6px !important;
    height: auto !important;
    margin: 10px 5px !important;

    @media only screen and (max-width: 375px) {
      line-height: 20px !important;
    }

    &:hover {
      background-color: var(--colorSuccess) !important;
    }

    & .label {
      font-weight: var(--fontWeightLight);
      font-size: var(--fontSizeCommon);

      & b {
        font-size: 18px;
        font-weight: var(--fontWeightMedium);
      }
    }
  }

  & span {
    text-transform: none !important;
  }

  & svg {
    width: 20px;
    height: 20px;
    fill: var(--textColorPrimary);
    vertical-align: sub !important;
  }
}

.WhyContainer {
  margin: 50px auto 0;
  text-align: center;
  max-width: 1920px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  & .whyList {
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    & .whyElement {
      max-width: 25%;
      box-sizing: border-box;
      padding: 0 0.5rem;

      @media only screen and (max-width: 768px) {
        max-width: 100%;
        margin-bottom: 30px;
      }

      & svg {
        width: 85px;
        height: 85px;
        fill: var(--colorBlue);
      }

      & .headline {
        font-size: 24px;
        line-height: 2;
      }

      & .description {
        font-weight: var(--fontWeightLight);
        line-height: 1.5;
        color: color(var(--textColorPrimary) blackness(33%));
      }
    }
  }
}

.SponsorsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;

  & .headline {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
  }

  & img {
    height: 32px;
    margin: 10px 15px;
    transition: var(--normalTransition);
  }

  & a {
    background-color: transparent !important;
    padding: 0 !important;
    border-width: 1px !important;
    border-radius: 0 !important;
  }
}

.bottomText {
  font-size: var(--fontSizeMedium);
  opacity: 0.6;
  font-weight: var(--fontWeightLight);
  text-align: right;
}
