@import "../palette.css";

.HeadContainer {
  width: 600px;
  height: 380px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
.HeadContainer .headline {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: var(--fontWeightMedium);
  line-height: 1.2;
}
.HeadContainer .description {
  font-size: 32px;
  font-weight: var(--fontWeightLight);
  margin-bottom: 20px;
}

.Buttons {
  margin-bottom: 30px;
}
.Buttons a {
  background-color: color(var(--defaultPrimaryColor) lightness(20%)) !important;
  border: 2px solid var(--textColorPrimary) !important;
  padding: 3px 6px !important;
  height: auto !important;
  margin: 10px 0 !important;
}
.Buttons a:hover {
  mix-blend-mode: screen;
}
.Buttons span {
  text-transform: none !important;
}
.Buttons svg {
  width: 20px;
  height: 20px;
  fill: var(--textColorPrimary);
  vertical-align: sub !important;
}
.Buttons a .label > span:first-child {
  font-size: 18px;
  font-weight: var(--fontWeightMedium);
}
.Buttons a .label > span:last-child {
  font-size: var(--fontSizeCommon);
  font-weight: var(--fontWeightLight);
  margin-left: 5px;
}

.why {
  font-size: 32px;
  margin-bottom: 30px;
}

.AwesomeContainer {
  margin: 50px auto 0;
  text-align: center;
  max-width: 1920px;
}
.AwesomeContainer svg {
  width: 85px;
  height: 85px;
  fill: var(--colorBlue);
}
.AwesomeContainer .headline {
  font-size: 24px;
  line-height: 2;
}
.AwesomeContainer .description {
  font-weight: var(--fontWeightLight);
  line-height: 1.5;
  color: color(var(--textColorPrimary) blackness(33%));
}

.SponsorsContainer {
  margin-top: 50px;
  margin-bottom: 20px;
}
.SponsorsContainer .headline {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: var(--fontWeightMedium);
}
.SponsorsContainer img {
  height: 32px;
  margin: 10px 15px;
  transition: var(--normalTransition);
}
.SponsorsContainer .Buttons a {
  padding: 0 !important;
  border-width: 1px !important;
}
.SponsorsContainer a, .SponsorsContainer .headline {
  opacity: .8;
}
.SponsorsContainer a:hover {
  border-color: var(--colorBlue) !important;
  color: var(--colorBlue) !important;
  opacity: 1;
}

.bottomText {
  font-size: var(--fontSizeMedium);
  opacity: .6;
  font-weight: var(--fontWeightLight);
  text-align: right;
}
