@import "../../palette.css";

.Performances {
  display: flex;
  flex-wrap: row;

  & .data {
    flex-grow: 1;
    margin-left: 20px;
  }
}

.DisplayName {
  & > span {
    color: var(--colorMutedLight);
    font-size: var(--fontSizeSmall);
    display: block;
  }
}

.biggest_hit {
  display: flex;
  align-items: center;

  & > span {
    margin: 0 5px;
  }
}

.tab {
  & > div {
    font-size: var(--fontSizeMedium);
    font-weight: var(--fontWeightNormal);
  }

  & > img {
    height: 24px;
  }
}
