@import "../palette.css";

.Header {
	display: block;
	text-align: center;
	margin: 0 0 40px 0;
}

.Loading {
	display: block;
	text-align: center;
}

.HeroListWrapper, .HeroListCol {
	padding: 0;
}

.HeroItem {
	width: 100%;
	background-color: #333;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 144px;
	position: relative
}
.HeroItemName {
	display: block;
  padding: 10px 0 0 10px;
  text-transform: uppercase;
  margin: 0;
}
.HeroItemActions {
	padding: 15px;
	transition: all 300ms ease-out;
	color: var(--primaryTextColor);
  text-shadow: 1px 1px 0 var(--secondaryTextColor),
	 						-1px -1px 0 var(--secondaryTextColor),
							1px -1px 0 var(--secondaryTextColor),
							-1px 1px 0 var(--secondaryTextColor);
	&:hover {
		color: var(--secondaryTextColor);
	  text-shadow: 1px 1px 0 var(--primaryTextColor),
		 						-1px -1px 0 var(--primaryTextColor),
								1px -1px 0 var(--primaryTextColor),
								-1px 1px 0 var(--primaryTextColor);
	}
}

.HeroItemImage {
	max-width: 100%;
	max-height: 100%;
}

.HeroItemAction {
	padding: 10px 0;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.HeroItemActionButton {
	margin-right: 7px;
}

.RankingTable {
	border: solid 1px rgba(255,255,255, 0.3);
}
.RankingName {
	padding: 7px 0;
}
.RankingColNo {
	width: 1.7em;
    text-align: center;
}
.RankingPersonaName {
	margin: 0 0 8px 0;
}

.RankingAvatar {
	float: left;
    margin-right: 10px;
    margin-top: 5px;
    border: solid 1px rgba(255, 255, 255, 0.6);
}

.RankingHeroBadge {
	text-align: right;
	display:block;
	margin:0 0 20px 0;
}
.RankingHeroBadgeAvatar {
    border: solid 1px rgba(255, 255, 255, 0.3);
}
.RankingHeroBadgeTd {
	padding: 0 0 0 15px;
}
.RankingHeroBadgeMeta {
	text-transform: uppercase;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

.BenchmarkTable {
}

.BenchmarkCell {
	text-align: center;
}

.BenchmarkColNo {
	width: 2.5em;
}

.BenchmarkRow-0 {
	background-color: #3b3b3b;
}
.BenchmarkRow-1 {
	//background-color: #000;
}
