@import "../palette.css";

.Header {
  display: block;
  text-align: center;
  margin: 0 0 40px;
}

.HeroBadge {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 150px;
  margin-bottom: 20px;

  & img {
    border: solid 1px rgba(255, 255, 255, 0.3);
    width: auto;
    height: 100%;
  }

  & h2 {
    margin: 0;
  }
}

.SearchBar {
  width: 90%;
  background: transparent;
  border: none;
  display: block;
  margin: 0 auto 20px;
  color: #fff;

  &:focus {
    outline: none;
  }
}
