@import "../palette.css";

.header {
  background-color: var(--defaultPrimaryColor) !important;

  & a {
    color: var(--primaryTextColor);

    &:hover {
      color: var(--primaryTextColor);
      opacity: 0.6;
    }
  }
}

.tab {
  margin: 0 10px;
  text-align: center;
  font-weight: var(--fontWeightNormal) !important;
}

.tabContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verticalAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountGroup {
  composes: verticalAlign;
  margin-left: auto;
}

.emptyTabBarContainer {
  padding: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--defaultPrimaryColor) !important;
}

.bug {
  font-size: var(--fontSizeMedium);
  font-weight: var(--fontWeightLight);
  color: var(--colorMutedLight) !important;
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-right: 15px;

  & svg {
    margin-right: 5px;

    /* Override material-ui */
    color: currentColor !important;
    width: 18px !important;
    height: 18px !important;
  }

  @media only screen and (max-width: 900px) {
    & span {
      display: none;
    }
  }
}

.adBanner {
  text-align: center;

  & img {
    margin-top: 10px;
    max-width: 100%;
  }
}
