@import "../palette.css";

.header {
  background-color: var(--defaultPrimaryColor) !important;

  & a {
    color: var(--primaryTextColor);
    &:hover {
      color: var(--primaryTextColor);
      opacity: .6;
    }
  }
}

.tabBarContainer {
  /*@media only screen and ()*/
  /*min-width: 1300px;*/
}

.emptyTabBarContainer {
  padding: 5px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  background-color: var(--defaultPrimaryColor) !important;
}

Toolbar {
  padding: 22px;
}

BurgerMenu { display: none !important; }

AppLogo {
  font-size: 20px !important;
  margin-right: 18px !important;
}

SearchGroup {
  margin-left: 20px;
}

AccountGroup {
  margin-left: auto;
}

@media (--medium) {
  Toolbar { padding: 18px; }
  BurgerMenu { display: inline; }
  AccountGroup { display: none; }
}

@media (--small) {
  Toolbar { padding: 8px; }
  AppLogo { font-size: 16px !important; }
}

@media (--tiny) {
  AppLogo { font-size: 14px !important; }
}
