@import "../palette.css";

.header {
  background-color: var(--defaultPrimaryColor) !important;

  & a {
    color: var(--primaryTextColor);
    &:hover {
      color: var(--primaryTextColor);
      opacity: .6;
    }
  }
}

.tab {
  margin: 0 10px;
  text-align: center;
  font-weight: var(--fontWeightNormal) !important;
}

.tabContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verticalAlign {
  display:flex;
  align-items: center;
  justify-content: center;
}

.emptyTabBarContainer {
  padding: 5px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  background-color: var(--defaultPrimaryColor) !important;
}
