@import "../palette.css";

:export { dividerColor: var(--dividerColor) }

.listItem {
  padding: 20px;
  font-size: var(--mediumLargeFontSize);

  color:  var(--primaryTextColor);
  background-color: var(--textSecondaryColor);

  &:hover {
    background-color: var(--primaryTextColor);
    color: var(--textSecondaryColor);
  }
}
