.Header{
	text-align: center;
	display: block;
	text-transform: uppercase;
	margin-top: 0;
    margin-bottom: 30px;
}

.DireWin {
	composes: Header;
	color: #d5553a;
}

.RadiantWin {
	composes: Header;
	color: #a1db57;
}

.TableBackground {
	background-color: #3e3e3e;
}

.Table {
	border: solid 1px #797979;
    border-collapse: collapse;
    float: right;
    font-size: 14px;
}

.TableCell {
	composes: TableBackground;
	padding: 7px 12px;
	text-align: right;
}

.MatchActionWrapper {
	float: left;
	position: absolute;
	bottom: 0;
	background-color: #333;
    border: solid 1px #5f5f5f;
}

.HeaderInfoWrapper {
	margin-bottom: 20px;
	position:relative;
}

.Clear {
	clear: both;
}
