@import "../palette.css";

.footer {
  padding: 20px;
  background-color: var(--defaultPrimaryColor);
  color: var(--primaryTextColor);
}

.links {
  color: var(--primaryTextColor);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
