@import "../palette.css";

:export { inkBarColor: var(--primaryTextColor) }

.tabs {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

.tab {
  font-weight: 600 !important;
  font-size: 12px !important;
}
