@import "../palette.css";

:export { inkBarColor: var(--accentColor) }

.tabs {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  & > div {
    background-color: var(--defaultPrimaryColor) !important;
  }
}

.tab {
  color: var(--primaryTextColor) !important;
}
