.dark-primary-color    { background: #E64A19; }
.default-primary-color { background: #FF5722; }
.light-primary-color   { background: #FFCCBC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
