:root {
  /* -- Colors */
  --defaultPrimaryColor:  rgba(0, 0, 0, .4);

  --colorSuccess: #66BB6A;
  --colorDanger:  #ff4c4c;
  --colorBlue:    #6BF;
  --colorMuted:   #727272;
  --colorYelor:   #FFAB40; /* Yelor = YellowOrange */

  --primaryLinkColor: var(--colorBlue);

  --textColorPrimary:     #F5F5F5;
  --primaryTextColor:     #F5F5F5;
  --textColorSecondary:   #212020;
  --secondaryTextColor:   #212020;
  /* Colors -- */

  /* -- Font */
  --fontFamily:
      -apple-system, BlinkMacSystemFont,
      "Segoe UI",
      Roboto, "Droid Sans",
      Ubuntu, Cantarell,
      "Fira Sans",
      Helvetica, Arial, sans-serif;

  --fontWeightLight:  300;
  --fontWeightNormal: 400;
  --fontWeightMedium: 500;

  --fontSizeCommon: 16px;
  --fontSizeMedium: 14px;
  --fontSizeSmall:  12px;
  /* Font -- */

  --dividerColor: color(var(--textSecondaryColor) lightness(20%));

  --navDrawerWidth: 256px;

  --normalTransition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --linearTransition: all 450ms linear 0ms;
}

:export {
  /* -- Colors */
  red:    var(--colorDanger);
  green:  var(--colorSuccess);
  blue:   var(--colorBlue);

  gray:   var(--colorMuted);
  grey:   var(--colorMuted);

  yelor:           var(--colorYelor);
  yellowOrange:    var(--colorYelor);

  textColorPrimary:    var(--textColorPrimary);
  primaryTextColor:    var(--textColorPrimary);
  textColorSecondary:  var(--textColorSecondary);
  secondaryTextColor:  var(--textColorSecondary);
  /* Colors -- */

  /* -- Font */
  fontFamily: var(--fontFamily);

  fontWeightLight: var(--fontWeightLight);
  fontWeightNormal: var(--fontWeightNormal);
  fontWeightMedium: var(--fontWeightMedium);

  fontSizeCommon: var(--fontSizeCommon);
  fontSizeMedium: var(--fontSizeMedium);
  fontSizeSmall: var(--fontSizeSmall);
  /* Font -- */
}

.textSuccess  { color: var(--colorSuccess) }
.textDanger   { color: var(--colorDanger) }
.textMuted    { color: var(--colorMuted) }

/* TODO - needs to be refactored since this file shouldn't just be a place to stuff classes */
.imgSmall {
  height: 30px;
}

.tab {
  margin: 0 10px;
  text-align: center;
  font-weight: var(--fontWeightNormal) !important;
}

.tabContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verticalAlign {
  display:flex;
  align-items: center;
  justify-content: center;
}

.iconButton {
  padding: 0 5px 4px !important;
}
.iconButton svg {
  width: auto !important;
  height: 16px;
  vertical-align: middle;
  fill: var(--primaryTextColor);
  margin: 0 6px;
  transition: var(--normalTransition);
}
.iconButton:hover svg {
  opacity: .6;
}

.overlay {
  /*text-shadow: 0px 0px 5px #000000;*/
  background-color: #000000;
  font-size: 9px;
  position: absolute;
  left: 0;
  bottom: 0;
}