@import "../palette.css";

.progress {
  position: relative;
  width: 105px;
  height: 105px;
}
.progress > div[mode="determinate"], div.cheese {
  position: absolute !important;
  left: 0;
  top: 0;
}
.progress svg > circle {
  stroke-width: 3;
}

.front {
  z-index: 1;
}
/*.front svg > circle {
  stroke: var(--primaryLinkColor) !important;
}
.back svg > circle {
  stroke: rgba(255, 255, 255, .06) !important;
}
*/
.cheese {
  margin: auto;
  top: -30px !important;
  left: -10px !important;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
}
.cheese svg {
  -webkit-filter: drop-shadow(0 0 10px #ff0);
  filter: drop-shadow(0 0 10px #ff0);
}

.percent {
  text-align: center;
  padding: 0 !important;
  margin-top: -5px !important;
}
