@import "../palette.css";

.progress {
  position: relative;
  width: 90px;
  height: 90px;

  & > div[mode="determinate"],
  & div.cheese {
    position: absolute !important;
  }

  & svg > circle {
    stroke-width: 3;
  }

  &[data-hint] {
    &::after {
      left: 10px;
      right: 10px;
      text-align: center;
    }
  }
}

.front {
  z-index: 1;
}

.back svg > circle {
  stroke: rgba(255, 255, 255, 0.06) !important;
}

.cheese {
  top: 17px;
  left: 28px;
  width: 35px;
  height: 35px;

  & svg {
    filter: drop-shadow(0 0 10px #ff0);
  }
}

.percent {
  text-align: center;
  padding: 0 !important;
  margin-top: -5px !important;

  & > div {
    position: relative;
    width: 100%;
  }
}
