@import "../palette.css";

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account {
  min-width: 30px !important;

  & > div > span {
    display: inline-block;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none !important;
    white-space: nowrap;
    font-size: var(--fontSizeCommon) !important;
    padding-right: 10px !important;
    padding-left: 0 !important;
  }
}

.logout {
  display: flex;
  padding: 5px;
}

.iconButton {
  padding: 0 !important;
  height: auto !important;
  width: auto !important;

  & svg:hover {
    opacity: 1;
  }

  &[data-hint-position="bottom"] {
    &::before {
      bottom: -9px;
      left: 8px;
    }

    &::after {
      margin-top: 9px;
    }
  }
}
