@import "../palette.css";

.account div > span {
  display: inline-block;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none !important;
  white-space: nowrap;
  font-size: var(--fontSizeCommon) !important;
  padding-right: 10px !important;
}

.logout {
  display: flex;
  padding: 5px;
}

.iconButton {
  padding: 0 !important;
  height: auto  !important;
  width: auto !important;
}
