@import "../palette.css";

.image {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: cover;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pictureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
  /*
.playerPicture {

  border-radius: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > button {
    color: var(--primaryTextColor) !important;
    &:hover {
      color: var(--textSecondaryColor) !important;
    }
  }
}

.playerPictureCheese {
  composes: playerPicture;
  border: 5px solid #FFD700
}
  */
  
.appBadge {
  composes: image;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 0 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}


@media only screen and (max-width: 650px) {
  .mmr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .mmrContainer {
    width: 100%;
    margin-top: 15px;
  }

  .playerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
