@import "../palette.css";

.image {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: cover;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pictureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
  /*
.playerPicture {

  border-radius: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > button {
    color: var(--primaryTextColor) !important;
    &:hover {
      color: var(--textSecondaryColor) !important;
    }
  }
}

.playerPictureCheese {
  composes: playerPicture;
  border: 5px solid #FFD700
}
  */
  
.appBadge {
  composes: image;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 0 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}


@media only screen and (max-width: 650px) {
  .mmr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .mmrContainer {
    width: 100%;
    margin-top: 15px;
  }

  .playerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/*
  This styles looks like a little hardcoded. I don't think this is a trouble,
  because postcss already apply encapsulation.
  So all but the 'global' styles are hardcoded at some kind.
*/
.infoRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 5px;
  
  & > abbr {
    margin-right: 2px;
  }
  
  & > span:not(:last-child){
    margin-right: 6px;
  }
}

.playerTitle {
  font-weight: bold;
  font-size: 16px;
}

/* no way to override icon size, because it set as inline styles.
  Actually it's possible to set style property of icon, but i don't know how to
  get this css class as object in Jsx script.*/
.playerRegistredIcon {
  width: 12px !important;
  height: 12px !important;
  margin-left: 2px;
}

.smallCheese {
  font-family: Flaticon;
  font-size: 16px !important; /* same as above. important - bad. */
  text-shadow: 0 0 10px #ff0;
  margin: 0 10px 0 0;
  &::before {
    content: "\E000";
  }
}