@import "../palette.css";

.footer {
  padding: 20px 50px 15px;
  background-color: var(--defaultPrimaryColor);
  color: var(--primaryTextColor);

  & p {
    padding: 2px 0 5px;
    margin: 0;
    font-size: var(--fontSizeMedium);
  }
  & small {
    color: darkgrey;
    font-size: var(--fontSizeSmall);
    
    & svg {
      height: 13px;
      margin-left: 7px;
      vertical-align: sub;
    }
  }
  & hr {
    border: 0;
    height: 1px;
    background-color: var(--primaryTextColor);
    background: linear-gradient(to right, var(--primaryTextColor) , rgba(0, 0, 0, 0)); 
    opacity: .1;
    margin: 10px 0;
  }
}

.links {
  & svg {
    height: 14px;
    margin-left: 15px;
    fill: var(--textColorPrimary);

    &:hover {
      opacity: .6;
    }
  }

  & .SocialLinks {
    display: inline-block;

    & a {
      vertical-align: text-bottom;
    }
  }
}

.pages {
  font-size: var(--fontSizeMedium);
  margin-bottom: 4px;

  & a {
    &::after {
      content: "•";
      margin: 0 8px;
      opacity: .6;
      color: var(--primaryTextColor);
    }
    &:last-child {
      &::after {
        content: "";
        margin: 0;
      }
    }
  }
}
