@import "../palette.css";

.footer {
  & main {
    padding: 20px 50px 15px;
    background-color: var(--defaultPrimaryColor);
    color: var(--primaryTextColor);
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    & p {
      padding: 2px 0 5px;
      margin: 0;
      font-size: var(--fontSizeMedium);
    }

    & .links,
    & .cheese {
      width: 50%;
    }

    & .links {
      & .logoNsocial {
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }

      & svg {
        height: 18px;
        margin-left: 15px;
        fill: var(--textColorPrimary);
        transition: var(--normalTransition);

        &:hover {
          opacity: 0.6;
        }
      }

      & hr {
        border: 0;
        height: 1px;
        background: linear-gradient(to right, var(--primaryTextColor), rgba(0, 0, 0, 0));
        opacity: 0.1;
        margin: 10px 0;
      }

      & small {
        color: var(--colorMutedLight);
        font-size: var(--fontSizeSmall);

        & svg {
          height: 13px;
          margin-left: 8px;
          vertical-align: sub;
          transition: var(--normalTransition);
        }
      }

      & .pages {
        font-size: var(--fontSizeMedium);
        margin-bottom: 4px;

        & a {
          display: inline-block;

          &::after {
            content: "•";
            margin: 0 8px;
            opacity: 0.6;
            color: var(--primaryTextColor);
          }

          &:last-child {
            &::after {
              content: "";
              margin: 0;
            }
          }
        }
      }
    }

    & .cheese {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > div:first-of-type {
        margin-right: 20px;
      }
    }

    & .SocialLinks a {
      position: relative;

      &[data-hint] {
        cursor: pointer;

        &::before {
          margin-left: 16px;
        }
      }
    }

    @media only screen and (max-width: 960px) {
      padding: 20px 25px 15px;
      flex-direction: column;

      & .links,
      & .cheese {
        width: 100%;
      }

      & .cheese {
        margin-top: 20px;
      }
    }
  }

  & .stanza {
    height: 250px;
  }
}
