.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;

  @media only screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.percent {
  position: relative;
  bottom: -17px;
  margin-top: -17px;
  z-index: 1;
}

.section {
  /* this actually better than calc */
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @media only screen and (max-width: 650px) {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Make button aligned to center of container due to huge padding at the bottom */
.section:nth-child(3) {
  justify-content: center;
}

.cheese_title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

/* this is actually pretty strange way, but it looks fine so.. */
.cheese_promo:first-child{
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  text-align: center;
}
