@import "../../palette.css";

:root {
  --ward-log-height: 50px;
}

:export {
  wardLogRowOddSurfaceColor: var(--tableRowOddSurfaceColor);
  wardLogRowEvenSurfaceColor: var(--tableRowEvenSurfaceColor);
}

.wardTooltip {
  border-width: 2px !important;
}

.radiantWardTooltip {
  composes: wardTooltip;
  border-color: var(--colorSuccess) !important;
}

.direWardTooltip {
  composes: wardTooltip;
  border-color: var(--colorDanger) !important;
}

.wardLog {
  width: 100%;
  margin-top: 30px;
  font-size: var(--fontSizeSmall);

  & .wardLogHeader {
    background-color: var(--tableHeaderSurfaceColor);
    border-bottom: 1px solid var(--dividerLightColor);
    text-transform: uppercase;
    height: 58px;
    padding: 0 20px;
  }

  & .wardLogList {
    padding: 0;
    margin: 0;
  }

  & .timespan {
    text-align: right;
  }
}

.wardLogItem {
  height: var(--ward-log-height);
  background: rgb(31, 33, 45);
  border-bottom: 1px solid var(--dividerColor);
  padding: 0 20px;
}

.trans-table-row-enter {
  height: 0;
  opacity: 0;

  &.trans-table-row-enter-active {
    height: var(--ward-log-height);
    opacity: 1;
    transition: height 300ms ease, opacity 300ms ease;
  }
}

.trans-table-row-leave {
  height: var(--ward-log-height);
  opacity: 1;

  &.trans-table-row-leave-active {
    height: 0;
    opacity: 0;
    transition: height 300ms ease, opacity 300ms ease;
  }
}

.wardSliderText {
  text-align: center;
  width: 200px;
  margin: 50px auto;
  text-transform: uppercase;
  color: var(--colorMutedLight);
}

.sliderTicks {
  position: relative;
  height: 30px;
  margin-top: 33px;
  margin-bottom: -33px;
  font-size: var(--fontSizeTiny);
  border-color: var(--sliderTicksColor);
  color: var(--sliderTicksColor);

  & .sliderTick {
    position: absolute;
    display: inline-block;
    height: 100%;
    padding: 0 0.4em;
    border-width: 0;
    border-color: inherit;
    border-style: solid;
    border-left-width: 1px;
    cursor: pointer;
    transition: color 150ms ease, border-color 150ms ease;

    &.active {
      border-color: var(--sliderTicksColorActive);
      color: var(--sliderTicksColorActive);
    }
  }
}

.visionFilter {
  margin-top: 50px;

  & table th > div {
    text-align: left !important;
  }

  & table td > img {
    margin-left: -2px;
  }
}
