@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans/OpenSans-Light.eot?v=1.1.0");
  src:  url("/assets/fonts/OpenSans/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"),
        url("/assets/fonts/OpenSans/OpenSans-Light.woff2?v=1.1.0") format("woff2"),
        url("/assets/fonts/OpenSans/OpenSans-Light.woff?v=1.1.0") format("woff"),
        url("/assets/fonts/OpenSans/OpenSans-Light.ttf?v=1.1.0") format("truetype"),
        url("/assets/fonts/OpenSans/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
