@import "../palette.css";

.container {
  min-width: 100%;
  clear: both;
}

/*Override material-ui style*/
.innerContainer > div > div {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.header {
  border-bottom-width: 0 !important;
  border-bottom-style: none !important;
}

.headerRow {
  /*border-bottom-width: 0 !important;
  border-bottom-style: none !important;*/
}

.headerRow svg {
  vertical-align: top;
  margin-left: 2px;
}

.headerRow th {
  background-color: var(--tableHeaderSurfaceColor);
}

.headerCellNoSort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  color: var(--primaryTextColor) !important;
  font-weight: 500;
}

.headerCell {
  composes: headerCellNoSort;
  &:hover {
    cursor: pointer;
  }
}

.row {
  border-top: 1px solid rgba(255, 255, 255, .06) !important;
  border-bottom: 0 !important;
}

tbody tr:nth-child(odd) {
   background-color: var(--tableRowOddSurfaceColor);
}
tbody tr:nth-child(even) {
   background-color: var(--tableRowEvenSurfaceColor);
}

table {
  background-color: transparent !important;
  table-layout: auto !important;
  margin-bottom: 20px;
}

table td:first-child, table th:first-child {
  padding-left: 24px !important;
}
table td:last-child, table th:last-child {
  padding-right: 24px !important;
}
table td, table th {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.headerTooltip {
  text-transform: none;
  font-weight: var(--fontWeightNormal);
  text-align: left;
}
