@import "../palette.css";

.container {
  min-width: 100%;
  clear: both;
}

/* Override material-ui style */
.innerContainer > div > div {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.headerCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  color: var(--primaryTextColor) !important;
  font-weight: 500;
}

/* Override material-ui style */
table {
  background-color: transparent !important;
  table-layout: auto !important;
  margin-bottom: 20px;

  & th {
    background-color: rgba(0, 0, 0, 0.3);

    & svg {
      vertical-align: top;
      margin-left: 2px;

      &:hover {
        cursor: pointer;
      }
    }

    & div[data-id="tooltip"] {
      text-transform: none !important;
      font-weight: var(--fontWeightNormal);
      text-align: left;
    }
  }

  & tr {
    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.019);
    }

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.019);
    }

    & td {
      border-top: 1px solid rgba(255, 255, 255, 0.06) !important;
      border-bottom: 0 !important;
    }
  }

  & th,
  & td {
    padding-left: 10px !important;
    padding-right: 10px !important;

    &:first-child {
      padding-left: 24px !important;
    }

    &:last-child {
      padding-right: 24px !important;
    }
  }
}
