@import "../palette.css";

.container {
  min-width: 100%;
  clear: both;
  @media only screen and (max-width: 960px) {
    margin: 0 -25px;
    overflow-x: scroll;
  }
}

.innerContainer {
  @media only screen and (max-width: 960px) {
    min-width: 1325px;
  }
}

.innerContainer > div > div {
  overflow: hidden !important;
} 

.header {
  border-bottom-width: 0 !important;
  border-bottom-style: none !important;
}

.headerRow {
  /*border-bottom-width: 0 !important;
  border-bottom-style: none !important;*/
}

.headerRow svg {
  vertical-align: top;
  margin-left: 2px;
}

.headerRow th {
  background-color: rgba(0, 0, 0, .3);
}

.headerCellNoSort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  color: var(--primaryTextColor) !important;
  font-weight: 500;
}

.headerCell {
  composes: headerCellNoSort;
  &:hover {
    cursor: pointer;
  }
}

.row {
  border-top: 1px solid rgba(255, 255, 255, .06) !important;
  border-bottom: 0 !important;
}

tbody tr:nth-child(odd) {
   background-color: rgba(255, 255, 255, .019);
}
tbody tr:nth-child(even) {
   background-color: rgba(0, 0, 0, .019);
}

table {
  background-color: transparent !important;
}

table td:first-child, table th:first-child {
  padding-left: 24px !important;
}
table td:last-child, table th:last-child {
  padding-right: 24px !important;
}
table td, table th {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
