@import "../../../palette.css";

.overviewContainer {
  display: flex;
  flex-wrap: wrap;
}

.matchesContainer {
  width: calc(70% - 30px);
  margin-right: 30px;

  @media only screen and (max-width: 1224px) {
    width: 100%;
    margin-right: 0;
  }
}

.heroesContainer {
  width: 30%;

  @media only screen and (max-width: 1224px) {
    width: 100%;
  }
}
