@import "../../../palette.css";

.overviewContainer {
  display: flex;
  flex-wrap: wrap;
}

.matchesContainer {
  width: calc(65% - 15px);
  margin-right: 15px;

  @media only screen and (max-width: 1080px) {
    width: 100%;
    margin-right: 0;
  }
}

.heroesContainer {
  width: 35%;

  @media only screen and (max-width: 1080px) {
    width: 100%;
  }
}
