@import "../palette.css";
@import "../TabBar/TabBar.css";

.Warning {
  font-size: var(--fontSizeCommon);
  text-align: center;
  margin-bottom: 20px;
}

:root {
  /* width of tab with longest name * count of tabs */
  --tabsWidth: calc(160px * 2);
}

.tabs {
  /* Override material-ui -- */
  & > div:nth-child(1) {
    width: var(--tabsWidth) !important;
  }

  & > div:nth-child(2) {
    width: var(--tabsWidth) !important;
  }

  & > div:nth-child(3) {
    border-top: 1px solid rgba(255, 255, 255, 0.19);
  }
}

.Heading {
  text-align: center;
  padding: 10px 0 15px;

  & span:last-child {
    display: block;
    text-transform: lowercase;
  }
}

.country {
  & img {
    vertical-align: sub;
    margin-right: 7px;
    height: 24px;
    width: 32px;
    box-shadow: 0 0 5px var(--defaultPrimaryColor);
  }

  & span {
    vertical-align: super;
    height: 24px;
  }
}
