
.rankTierContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rankMedal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px;
  -webkit-filter: drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3))
  drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3))
  drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3));

  &[data-hint-position="top"] {
    &::after {
      margin-bottom: 3px;
      margin-left: 52px;
    }

    &::before {
      top: -3px;
      margin-left: 57px;
    }
  }
  & img {
    width: 124px;
    height: 124px;
  }
  & .rankMedal-board {
    position: absolute;
    align-self: center;
    margin-top: 80px;
    margin-left: 1px;
    font-size: 22px;
    color: #ECD9C8;
    text-shadow: 2px 2px 2px black;
  }
  & .rankMedal-star {
    position: absolute;
  }
}