:root {
  /* -- Colors */
  --defaultPrimaryColor: rgba(0, 0, 0, 0.4);
  --darkPrimaryColor: rgba(0, 0, 0, 0.6);
  --almostBlack: rgba(0, 0, 0, 0.9);

  --colorSuccess: #66BB6A;
  --colorDanger:  #ff4c4c;
  --colorBlue:    #6BF;
  --colorMuted:   #727272;
  --colorYelor:   #FFAB40; /* Yelor = YellowOrange */
  --colorGolden:  #e5c100;

  --colorBlueMuted: rgba(102, 187, 255, 0.3);
  --colorYelorMuted: rgba(255, 171, 64, 0.3);

  --colorMutedLight:   color(var(--colorMuted) lightness(70%));

  --primaryLinkColor: var(--colorBlue);

  --textColorPrimary:     #F5F5F5;
  --primaryTextColor:     #F5F5F5;
  --textColorSecondary:   #212020;
  --secondaryTextColor:   #212020;

  --primarySurfaceColor: rgb(46, 47, 64);
  --secondarySurfaceColor: rgb(39, 39, 58);

  --tableHeaderSurfaceColor: rgba(0, 0, 0, .3);
  --tableRowOddSurfaceColor: rgba(255, 255, 255, .019);
  --tableRowEvenSurfaceColor: rgba(0, 0, 0, .019);

  --sliderTicksColor: #757575;
  --sliderTicksColorActive: #337AB7;
  /* Colors -- */

  /* -- Font */
  --fontFamily:
      -apple-system, BlinkMacSystemFont,
      "Segoe UI",
      Roboto, "Droid Sans",
      Ubuntu, Cantarell,
      "Fira Sans",
      Helvetica, Arial, sans-serif;

  --fontWeightLight:  300;
  --fontWeightNormal: 400;
  --fontWeightMedium: 500;

  --fontSizeCommon: 16px;
  --fontSizeMedium: 14px;
  --fontSizeSmall:  12px;
  --fontSizeTiny:   10px;
  /* Font -- */

  --dividerColor: color(var(--textColorSecondary) lightness(20%));
  --dividerLightColor: color(var(--textColorPrimary) lightness(-20%));

  --navDrawerWidth: 256px;

  --normalTransition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --linearTransition: all 300ms linear;
}

:global(body) {
  margin: 0;
  font-family: var(--fontFamily);
}

:global(a) {
  color: var(--primaryLinkColor);
  text-decoration: none;
  transition: var(--normalTransition);

  &:hover {
    color: color(var(--primaryLinkColor) lightness(-33%));
  }
}

:global(li) {
  list-style-type: none;
}

:global(#react) {
  height: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #192023;
  background-image: -webkit-linear-gradient(315deg, #2e2d45, #1c2127);
  background-image: linear-gradient(135deg, #2e2d45, #1c2127);
  color: var(--primaryTextColor);
}

:global(.c3) {
  & text {
    fill: white;
  }

  & line {
    fill: white;
    stroke: white;
  }
}

:global(.c3-axis) {
  & > path {
    stroke: white;
  }
}

:global(.c3-tooltip-container) {
  & > * {
    color: black;
  }
}

:global([data-tip="true"]) {
  cursor: help;
}

:global([data-id="tooltip"]) {
  padding: 8px 12px !important;
  border-radius: 2px !important;
  background-color: var(--almostBlack) !important;
  color: var(--textColorPrimary) !important;
  white-space: pre-wrap;
  line-height: 1.5 !important;
  text-align: left;
  margin: -3px !important;

  &:matches(::after, ::before) {
    content: none !important;
  }
}

@keyframes tooltip-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:global([data-hint]) {
  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    opacity: 0;
    z-index: 10000;
    pointer-events: none;
  }

  &::before {
    content: "";
    width: 0;
    height: 0;
  }

  &::after {
    content: attr(data-hint);
    background-color: var(--almostBlack);
    color: var(--textColorPrimary);
    border-radius: 2px;
    padding: 5px 8px;
    font-weight: var(--fontWeightLight);
    text-transform: none;
    font-size: 13px;
    line-height: 1.3;
    white-space: nowrap;
  }

  &:hover {
    cursor: help;

    &::before,
    &::after {
      animation-name: tooltip-appear;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      animation-delay: 0.4s;
    }
  }
}

:global([data-hint-position="top"]) {
  &::after {
    bottom: 100%;
    margin-bottom: 3px;
    margin-left: -24px;
  }

  &::before {
    border-style: solid;
    border-width: 3px 6px 0 6px;
    border-color: var(--almostBlack) transparent transparent transparent;
    top: -3px;
  }
}

:global([data-hint-position="bottom"]) {
  &::after {
    top: 100%;
    margin-top: 3px;
    margin-left: -24px;
  }

  &::before {
    border-style: solid;
    border-width: 0 6px 3px 6px;
    border-color: transparent transparent var(--almostBlack) transparent;
    bottom: -3px;
  }
}
