@import "./components/palette.css";

:global(body) {
  margin: 0;
  font-family: var(--fontFamily);
  height: 100%;
}

:global(a) {
  color: var(--primaryLinkColor);
  text-decoration: none;
  transition: var(--normalTransition);
  &:hover {
    color: color(var(--primaryLinkColor) lightness(-33%));
  }
}

:global(li) {
  list-style-type: none;
}

:global(html) {
  height: 100%;
  /*background-color: var(--textSecondaryColor);*/
  background-color: #192023;
  background-image: -webkit-linear-gradient(315deg, #2e2d45, #1c2127);
  background-image: linear-gradient(135deg, #2e2d45, #1c2127);
  color: var(--primaryTextColor);
  box-sizing: border-box;
  & * {
    box-sizing: inherit;
    &:matches(::after, ::before) {
      box-sizing: inherit;
    } 
  }
}

:global(#react) {
  height: 100%;
  overflow-x: hidden;
}

:global(.c3) {
  & text {
    fill: white;
  }
  & line {
    fill: white;
    stroke: white;
  }
}

:global(.c3-axis) {
  & > path {
    stroke: white;
  }
}

:global(.c3-tooltip-container) {
  & > * {
    color: black;
  }
}

:global([data-tip="true"]) {
  cursor: help;
}
:global([data-id="tooltip"]) {
  padding: 8px 12px !important;
  border-radius: 2px !important;
  background-color: var(--almostBlack) !important;
  color: var(--textColorPrimary) !important;
  white-space: pre-wrap;
  line-height: 1.5 !important;
  text-align: left;
  margin: -3px !important;

  &:matches(::after, ::before) {
    content: none !important;
  }
}
