body {
  align-items: initial;
  background-color: initial;
  display: block;
  font-family: Roboto;
  height: initial;
  justify-content: initial;
  margin: 0;
  padding-right: 0 !important;
  text-align: initial;
  width: initial;
}

a {
  color: #6BF;
  text-decoration: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &:hover {
    color: color(#6BF lightness(-33%));
  }
}

li {
  list-style-type: none;
}

#root {
  background-color: #192023;
  background-image: -webkit-linear-gradient(to right, #1a2b3e, #141E30);
  background-image: linear-gradient(to right, #1a2b3e, #141E30);
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

[data-tip] {
  cursor: help;
}

[data-id="tooltip"] {
  padding: 8px 12px !important;
  border-radius: 2px !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: rgba(255, 255, 255, 0.87) !important;
  white-space: pre-wrap;
  line-height: 1.5 !important;
  text-align: left;
  margin: -3px !important;

  &:matches(::after, ::before) {
    content: none !important;
  }
}

@keyframes tooltip-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

[data-hint] {
  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    opacity: 0;
    z-index: 10000;
    pointer-events: none;
  }

  &::before {
    content: "";
    width: 0;
    height: 0;
  }

  &::after {
    content: attr(data-hint);
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
    padding: 5px 8px;
    font-weight: 300;
    text-transform: none;
    font-size: 13px;
    line-height: 1.3;
    white-space: nowrap;
  }

  &:hover {
    cursor: help;

    &::before,
    &::after {
      animation-name: tooltip-appear;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      animation-delay: 0.4s;
    }
  }
}

[data-hint-position="top"] {
  &::after {
    bottom: 100%;
    margin-bottom: 3px;
    margin-left: -24px;
  }

  &::before {
    border-style: solid;
    border-width: 3px 6px 0 6px;
    border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
    top: -3px;
  }
}

[data-hint-position="bottom"] {
  &::after {
    top: 100%;
    margin-top: 3px;
    margin-left: -24px;
  }

  &::before {
    border-style: solid;
    border-width: 0 6px 3px 6px;
    border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
    bottom: -3px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

td {
  font-size: 13px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}

th {
  height: 38px;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
}

.rankTierContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rankMedal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px;
  -webkit-filter: drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3))
    drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3))
    drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.3));

  &[data-hint-position='top'] {
    &::after {
      margin-bottom: 3px;
      margin-left: 52px;
    }

    &::before {
      top: -3px;
      margin-left: 57px;
    }
  }
  & img {
    width: 124px;
    height: 124px;
  }
  & .rankMedal-board {
    position: absolute;
    align-self: center;
    margin-top: 80px;
    margin-left: 1px;
    font-size: 22px;
    color: #ecd9c8;
    text-shadow: 2px 2px 2px black;
  }
  & .rankMedal-star {
    position: absolute;
  }
}
