@import "./subText.css";

.actionDoneAll {
  position: relative !important;
  left: -10px !important;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image {
  margin-right: 7px;
  position: relative;
}

.container {
  display: flex;
  position: relative;
}

.parsed {
   position: absolute;
   left: -24px;
   width: 2px;
   height: 100%;
   background-color: var(--primaryLinkColor);
}

.registered {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: var(--colorSuccess);
  border-radius: 50%;
  display: inline-block;
}

.imageContainer {
  position: relative;
}

.playerSlot {
  position: absolute;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, .6);
  border-bottom: 1px solid rgba(0, 0, 0, .6);
  border-bottom-right-radius: 100%;
}
