@import "./subText.css";

.actionDoneAll {
  position: relative !important;
  left: -10px !important;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}

.image {
  margin-right: 7px;
}

.container {
  display: flex;
  position: relative;
}

.parsed {
   position: absolute;
   left: -24px;
   width: 2px;
   height: 100%;
   background-color: var(--primaryLinkColor);
}

.registered {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: var(--colorSuccess);
  border-radius: 50%;
  display: inline-block;
}
