@import "./subText.css";

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  width: 125px;
  text-align: left;

  & > span {
    position: relative;
    white-space: nowrap;

    & a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: sub;
    }
  }
}

.image {
  margin-right: 7px;
  position: relative;
  height: 29px;
  box-shadow: 0 0 5px var(--defaultPrimaryColor);
}

.container {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
}

.abandoned {
  position: absolute;
  right: 7px;
  bottom: 8px;
  height: 15px;

  &[data-hint] {
    &::before,
    &::after {
      left: 40%;
    }
  }
}

.abandoned img {
  width: 51px;
}

.parsed {
  position: relative;
  left: -24px;
  width: 2px;
  height: 29px;
  background-color: var(--primaryLinkColor);

  /* Material-ui icon */
  & svg {
    position: relative !important;
    left: -10px !important;
    fill: var(--primaryLinkColor) !important;
  }
}

.unparsed {
  composes: parsed;
  background-color: var(--colorMuted);

  /* Material-ui icon */
  & svg {
    fill: transparent !important;
  }
}

.badge {
  display: inline-block;

  & svg {
    width: 10px !important;
    height: 10px !important;
    margin-right: 5px;
  }
}

.registered {
  composes: badge;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: var(--colorSuccess);
  border-radius: 50%;
  margin-top: 1px;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.playerSlot {
  width: 2px;
  height: 29px;
  position: absolute;
  left: 0;
  box-shadow: 1px 0 2px var(--defaultPrimaryColor);
}

.confirmed {
  composes: badge;
}

.golden {
  fill: var(--colorGolden) !important;
}

:root {
  --partyBorder: 2px solid var(--colorMutedLight);
}

.party {
  position: absolute;
  top: 0;
  width: 11px;
  height: 93%;
  left: -11px;

  & > div {
    position: absolute;
    width: 100%;
    height: 100%;

    &[data-next] {
      border-left: var(--partyBorder);
      border-top: var(--partyBorder);
      top: 50%;
    }

    &[data-prev-next] {
      border-left: var(--partyBorder);
      height: 185%;
      top: -39%;

      &::after {
        content: "";
        border-top: var(--partyBorder);
        position: absolute;
        width: 100%;
        top: 50%;
      }
    }

    &[data-prev] {
      border-left: var(--partyBorder);
      border-bottom: var(--partyBorder);
      top: -50%;
    }
  }
}

.subText {
  position: relative;

  & svg {
    color: currentcolor !important;
    height: 13px !important;
    width: 13px !important;
    vertical-align: top;
    padding: 1px 0;
  }

  & section {
    margin-left: -2px;
    margin-right: 4px;
    display: inline-block;
  }
}

.hoverIcon {
  margin-left: 4px;
}

.hoverIcon:first-child {
  margin-left: 8px;
}

.pvgnaGuideContainer {
  margin: auto;
}

.pvgnaGuideIcon {
  max-width: 24px;
  max-height: 24px;
}
