.container {
  composes: container from "./Percent.css";

  width: calc(300% + 50px);
  left: -10px;
  text-align: right;
}

.title {
  composes: title from "./Percent.css";
  
  text-align: right;
  position: absolute;
  margin-right: 10px;
  right: 66.666%;
}

.percent {
  composes: percent from "./Percent.css";

  display: flex;

  &[data-hint-position="top"] {
    &::before {
      top: -8px;
      margin-left: 10px;
    }
    &::after {
      margin-bottom: 8px;
      margin-left: 0;
    }
  }
}
