@import '../../palette.css';

.container {
  display: flex;
  position: relative;
  height: 100%;
}

.title {
  align-self: center;
  line-height: 0;

  & small {
    color: var(--colorMutedLight);
  }
}

.percent {
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--colorMuted);
  align-self: flex-end;
  bottom: -1px;
  left: 0;

  & > div {
    height: 100%;
  }
}
