@import "../../palette.css";

.container {
  display: flex;
  position: relative;
}

.image {
  height: 29px;
  width: 29px;
  margin-right: 7px;
}

.registered {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: var(--colorSuccess);
  border-radius: 50%;
  display: inline-block;
}

.subText {
  composes: subText from "./subText.css";
}
