@import "../../palette.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTop {
  composes: container;
  align-items: flex-end;
  position: relative;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  & > div {
    display: flex;
  }
}

.paginationTop {
  composes: pagination;
  position: absolute;
  right: 0;
  top: -46px;
  font-size: var(--fontSizeMedium);
}

@media only screen and (max-width: 767px) {
  .containerTop {
    align-items: center;
  }

  .paginationTop {
    position: initial;
  }
}

.page {
  /* Override material-ui */
  color: var(--primaryLinkColor) !important;
  min-width: 20px !important;
  padding: 0 10px !important;
  margin: 0 2px !important;
}

@media only screen and (max-width: 511px) {
  .pagination {
    flex-direction: column;
  }

  .page {
    /* Override material-ui */
    min-width: 14px !important;
    padding: 0 6px !important;
    margin: 0 1px !important;
  }
}

.arrow {
  composes: page;
  vertical-align: text-top;

  /* Override material-ui */
  color: var(--colorYelor) !important;
  padding: 0 !important;
}

.arrowDisabled {
  composes: arrow;
  pointer-events: none;

  /* Override material-ui */
  color: var(--colorMutedLight) !important;

  & svg {
    fill: var(--colorMutedLight) !important;
  }
}

.currentPage {
  composes: page;

  /* Override material-ui */
  color: var(--colorMutedLight) !important;
  pointer-events: none;
}

.info {
  font-size: var(--fontSizeMedium);
  color: var(--colorMutedLight);
}
