@import "../../palette.css";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 0 10px;
}

.page {
  /* Override material-ui */
  color: var(--primaryLinkColor) !important;
  min-width: 20px !important;
  padding: 5px !important;
}

.arrow {
  composes: page;
  color: var(--colorYelor) !important;
}

.currentPage {
  composes: page;
  color: var(--primaryTextColor) !important;
}
