@import "../palette.css";

.button {
  margin: 10px !important;
}

.buttonText {
  padding: 0 10px;
}

.selectedButton {
  composes: button;
  background-color: var(--primaryLinkColor) !important;
  color: var(--textColorSecondary) !important;

  & > div {
    height: 100%;

    & > div {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
}
